html,
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
}

main > h1 {
  font-size: 36pt;
  color: #333;
  margin: 20px 0 10px 0;
}

main > h2 {
  font-size: 16pt;
  font-weight: normal;
  color: #666;
}

body {
  margin: 0 auto;
  padding: 0;
  height: 100vh;
  background-color: #f0f0f0;
  max-width: 1000px;

  display: flex;
  flex-direction: column;
}

main {
  text-align: center;
  height: 100%;

  display: flex;
  flex-direction: column;
  flex: 1;
}

.scrollable {
  overflow-y: scroll;
  flex: 1;

  margin: 20px 0;
  padding: 20px;

  text-align: left;
}

form.new-post {
  display: flex;
}

form.new-post input {
  flex: 1;

  padding: 16px 24px;

  margin: 0 0 30px 0;

  font-size: 16px;
}

.scrollable,
form.new-post input,
form.new-post button {
  border-radius: 32px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: none;
  background-color: #fff;
}

form.new-post button {
  width: 64px;
  height: 64px;
  font-weight: bold;
  font-size: 20pt;
  margin: 0 0 30px 20px;
}

.post-container {
  margin: 12px 0 12px 0;
}

.post {
  background-color: rgb(198, 221, 255);
}

.comment {
  padding: 10px;
  padding-left: 15px;

  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

.comment p {
  margin: 0;
}

.comment p.date {
  font-size: 12px;
  margin: 0;
  margin-top: 5px;
  color: #666;
}

.comment {
  display: grid;
  grid-template-columns: 1fr auto;
}

button.reply {
  background-color: rgb(255, 255, 255, 0.7);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 21px;
  border: none;
}

form.response {
  display: grid;
  grid-template-columns: 1fr auto;
}

form.response input {
  flex: 1;

  padding: 9px 20px;

  margin: 15px 0 15px 0;

  font-size: 16px;
}

form.response input,
form.response button {
  border-radius: 32px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border: none;
  background-color: #fff;
}

form.response button {
  width: 48px;
  height: 48px;
  font-weight: bold;
  font-size: 15pt;
  margin: 15px 0 15px 15px;
}

.hidden {
  display: none !important;
}

.indented {
  margin-left: 50px;
}

.comment h1 {
  font-size: larger;
  margin: 2px 0 8px 0;
}
